/*
 * -------------------------------------------------
 *  Predixcan Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Pipeline Options
  gtf = "file.gtf.gz"
  snp = false
  genotype = false
  gene_exp = false
  prefix = "Model_training"
  outdir = "./results"

  // Workflow flags
  help = false
  keepIntermediate = false
}

trace {
  enabled = true
  file = "Reports/trace.txt"
}

dag {
  enabled = true
  file = "Reports/workflow.png"
}

report {
  enabled = true
  file = "Reports/report.html"
}

timeline {
  enabled = true
  file = "Reports/timeline.html"
}
