process {
  withLabel:process_low {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withLabel:process_medium {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 12.h * task.attempt, 'time' ) }
  }
  withLabel:process_high {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 36.h * task.attempt, 'time' ) }
  }
} 

// config for running on local machine
profiles {
  local {
    process.executor = 'local'

    process {
      withLabel:process_low {
        cpus   = 1
        memory = 2.GB
        time   = 6.h
      }
      withLabel:process_medium {
        cpus   = 2
        memory = 4.GB
        time   = 12.h
      }
      withLabel:process_high {
        cpus   = 2
        memory = 6.GB
        time   = 36.h
      }
    }
  }
}
