params.custom_config_base = "."

profiles {
    midway2         { includeConfig "${params.custom_config_base}/midway2.config" }
    midway3         { includeConfig "${params.custom_config_base}/midway3.config" }
    randi           { includeConfig "${params.custom_config_base}/randi.config" }
    beagle3         { includeConfig "${params.custom_config_base}/beagle3.config" }
}
