params {
  config_profile_description = 'Midway2'
  config_profile_contact = 'Festus Nyasimi (@Fnyasimi)'
  config_profile_url = 'https://rcc-uchicago.github.io/user-guide/midway23/midway_partitions/'
  max_time = 36.h
  max_cpus = 28
  max_memory = 512.GB
}

process {
  executor = 'slurm'
  queue = { task.memory < 64.GB ? 'broadwl' : task.memory < 192.GB ? 'broadwl' : 'bigmem2' }
  maxRetries = 3
  errorStrategy = { ( task.exitStatus != 0 ) ? "retry" : "finish" }
  beforeScript = 'module load R; module load python'
  clusterOptions = { "--account=pi-haky" }
}

executor {
    queueSize = 1000
}

// Preform work directory cleanup after a successful run
cleanup = true

// Profile to deactivate automatic cleanup of work directory after a successful run. 
// Overwrites cleanup option.
profiles {
  debug {
    cleanup = false
  }
}
