params {
  config_profile_description = 'Randi'
  config_profile_contact = 'Festus Nyasimi (@Fnyasimi)'
  config_profile_url = 'https://cri.uchicago.edu/'
  max_time = 36.h
  max_cpus = 28
  max_memory = 512.GB
}

process {
  executor = 'slurm'
  queue = { task.memory < 64.GB ? 'tier1q' : task.memory < 192.GB ? 'tier2q' : 'tier3q' }
  maxRetries = 3
  errorStrategy = { ( task.exitStatus != 0 ) ? "retry" : "finish" }
  beforeScript = 'module load gcc/12.1.0; module load R/4.2.1; module load python/3.10.5'
  //clusterOptions = { "--account=pi-haky" }
}

executor {
    queueSize = 1000
}

// Preform work directory cleanup after a successful run
cleanup = true

// Profile to deactivate automatic cleanup of work directory after a successful run. 
// Overwrites cleanup option.
profiles {
  debug {
    cleanup = false
  }
}
